[Desktop Entry]
Name=ADFC
Comment=Default ADFC theme

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=ADFC
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[Wallpaper]
defaultWallpaperTheme=ADFC
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1200

[ContrastEffect]
enabled=true
contrast=0.2
intensity=0.4
saturation=1.7
