{
{#    "inviteDomain": "example-company.org", #}
{#    "backgroundColor": "#fff", #}
    "backgroundImageUrl": "/images/adfc-background.png",
    "logoClickUrl": "https://portal.adfc-intern.de/univention/portal/",
    "logoImageUrl": "/images/adfc-meet-logo.png",
{#    "avatarBackgrounds":
            [
                    "url(https://example.com/avatar-background-1.png)", "#FFF"
            ],#}
{# "premeetingBackground": "url(https://example.com/premeeting-background.png)", #}
{# "virtualBackgrounds": ["https://example.com/img.jpg"], #}
"customTheme": {
    "palette": {
        "ui01": "orange !important",
        "ui02": "maroon",
        "surface02": "darkgreen",
        "ui03": "violet",
        "ui04": "magenta",
        "ui05": "blueviolet",
        "field02Hover": "red",
        "action01": "green",
        "action01Hover": "lightgreen",
        "disabled01": "beige",
        "success02": "cadetblue",
        "action02Hover": "aliceblue"
    },
    "typography": {
        "labelRegular": {
            "fontSize": 25,
            "lineHeight": 30,
            "fontWeight": 500
        }
    }
}
}
