#
# {{ ansible_managed}}
# See reference.conf in /usr/share/jicofo/jicofo.jar for
# available options, syntax, and default values.
jicofo {
  xmpp: {
    client: {
      client-proxy: focus.{{ jitsi_meet_server_name }}
    }
    trusted-domains: [ "recorder.{{ jitsi_meet_server_name }}" ]

  }
  health {
    enabled = true
  }

  bridge: {
    {% if jitsi_meet_octo | default("no") | bool %}
    {% if jitsi_jicofo_bridge_selector | default("region") == "region" %}
    selection-strategy = RegionBasedSelectionStrategy
    {% else %}
    selection-strategy = SplitBridgeSelectionStrategy
    {% endif %}
    {% endif %}
    brewery-jid: "JvbBrewery@internal.auth.{{ jitsi_meet_server_name }}"
  }
  octo {
    {% if jitsi_meet_octo | default("no") | bool %}
    enabled = true
    id = 1
    {% else %}
    enabled = false
    {% endif %}
  }
}
