<title>{{ jitsi_meet_welcomepage_title }}</title>
<meta property="og:title" content="{{ jitsi_meet_welcomepage_title }}"/>
<meta property="og:image" content="/images/jitsilogo.png?v=1"/>
<meta property="og:description" content="{{ jitsi_meet_welcomepage_description }}"/>
<meta description="{{ jitsi_meet_welcomepage_description }}"/>
<meta itemprop="name" content="{{ jitsi_meet_welcomepage_title }}"/>
<meta itemprop="description" content="{{ jitsi_meet_welcomepage_description }}"/>
<meta itemprop="image" content="/images/jitsilogo.png?v=1"/>
<link rel="icon" type="image/png" href="/images/favicon.ico"/>
