---
- name: search for excluded direcories
  find:
    path: "{{ inventory_dir + '/' + key_path }}"
    recurse: no
    file_type: directory
    excludes: "{{ ssh_users_admins |join(',') }}"
  delegate_to: localhost
  register: remove_keys_path

- name: search for files in excluded dirs
  find:
    path: "{{ remove_keys_path| json_query('files[*].path') }}"
    recurse: yes
    file_type: file
  delegate_to: localhost
  register: remove_keys_files

- name: search for included files
  find:
    paths: "{{ inventory_dir + '/' + key_path + item  }}"
    recurse: yes
    file_type: file
    excludes: "{{ ssh_users_admins |join(',') }}"
  with_items: "{{ ssh_users_admins }}"
  delegate_to: localhost
  register: add_keys_files

- name: add ssh keys of the admins
  authorized_key:
    user: "{{ authorized_key_user }}"
    comment: "ADFC-Ansible {{ item | relpath(inventory_dir + '/' + key_path) }}"
    key: "{{ lookup('file', item) }}"
    state: present
  delegate_to: "{{ authorized_key_delegate |default(omit) }}"
  with_items: "{{ add_keys_files |json_query('results[*].files[*].path')  }}"

- name: remove all ssh keys that don't belong to the admins list
  authorized_key:
    user: "{{ authorized_key_user }}"
    key: "{{ lookup('file', item.path) }}"
    state: absent
  with_items: "{{ remove_keys_files.files }}"
  delegate_to: "{{ authorized_key_delegate |default(omit) }}"
