# {{ ansible_managed }}
HAPROXY_RELEASE={{ haproxy_version }}
HAPROXY_CONF={{ docker_haproxy_dir }}/haproxy
NGINX_RELEASE={{ nginx_version }}
HTML={{ docker_haproxy_dir }}/nginx-html
NGINX_CONF={{ docker_haproxy_dir }}/nginx
