[Desktop Entry]
Name=ADFC
Name[ar]=ADFC
Name[bs]=ADFC
Name[ca]=ADFC
Name[ca@valencia]=ADFC
Name[cs]=ADFC
Name[da]=ADFC
Name[de]=ADFC
Name[el]=ADFC
Name[en_GB]=ADFC
Name[es]=ADFC
Name[et]=ADFC
Name[eu]=ADFC
Name[fi]=ADFC
Name[fr]=ADFC
Name[gl]=ADFC
Name[he]=ADFC
Name[hu]=ADFC
Name[ia]=ADFC
Name[id]=ADFC
Name[it]=ADFC
Name[ko]=ADFC
Name[lt]=ADFC
Name[nb]=ADFC
Name[nds]=ADFC
Name[nl]=ADFC
Name[nn]=ADFC
Name[pa]=ADFC
Name[pl]=ADFC
Name[pt]=ADFC
Name[pt_BR]=ADFC
Name[ro]=ADFC
Name[ru]=ADFC
Name[sk]=ADFC
Name[sl]=ADFC
Name[sr]=ADFC
Name[sr@ijekavian]=ADFC
Name[sr@ijekavianlatin]=ADFC
Name[sr@latin]=ADFC
Name[sv]=ADFC
Name[tr]=ADFC
Name[uk]=ADFC
Name[x-test]=ADFC
Name[zh_CN]=ADFC
Name[zh_TW]=ADFC

X-KDE-PluginInfo-Name=ADFC
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=
