#!/bin/bash

# {ansible_managed}

docker stop wp_quartierefuermenschen
docker rm wp_quartierefuermenschen
docker volume rm quartierefuermenschen
echo 'drop database qfm_wordpress; ' |mysql -u root -p$(cat /etc/mysql.secret )