# /lib/systemd/system/dyn-jitsi-scaler.service
[Unit]
Description=dyn-jitsi-scaler
After=influxdb.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/dynamic-jitsi-scaler
PrivateTmp=true
# Run maximal 15 Minuten
TimeoutStartSec=900
