<html>
  <meta http-equiv="refresh" content="0; url=https://aktiv.adfc-nrw.de/jitsi/jitsi-feedback/" />
    <script type="text/javascript">
            window.location.href = "https://aktiv.adfc-nrw.de/jitsi/jitsi-feedback/";
    </script>
  <body>
    Danke!

  <a href="https://aktiv.adfc-nrw.de/jitsi/jitsi-feedback/"> Jitsi Feedback</a>

  </body>
</html>
