#!/bin/bash
cd /home/metroterm/metropolregion_termine_git/venv/src
echo start $(date) >run.log
/usr/bin/python3 tp2vadb.py --aktuell \
		 {{ metropolregion_termine_regio_ids | map(attribute='id') | sort | join(',') }} >>run.log 2>&1
EXIT=$?
echo EXIT: $EXIT >> run.log
echo stop $(date) >>run.log
if [ "$EXIT" == "0" ] ; then
    cp run.log adfc.log unknown_locs.json ADFC-VADB.xml "{{ metropolregion_termine_www_dest_dir }}"
    date > "{{ metropolregion_termine_www_dest_dir }}/lastrun.txt"
fi
rm -rf /tmp/tpjson/

