[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=jAnrufmonitor
Type=Application
Terminal=false
Exec=/usr/local/bin/janrufmonitor.sh
Icon=/opt/janrufmonitor/images/jam.jpg
Categories=Office;TelephonyTools
