/* eslint-disable no-unused-vars, no-var, max-len */

var interfaceConfig = {
    APP_NAME: '{{ jitsi_meet_appname }}',
    AUDIO_LEVEL_PRIMARY_COLOR: 'rgba(255,255,255,0.4)',
    AUDIO_LEVEL_SECONDARY_COLOR: 'rgba(255,255,255,0.2)',
    AUTHENTICATION_ENABLE: true,
    AUTO_PIN_LATEST_SCREEN_SHARE: 'remote-only',
    BRAND_WATERMARK_LINK: '',
    CLOSE_PAGE_GUEST_HINT: false,
    CONNECTION_INDICATOR_AUTO_HIDE_ENABLED: true,
    CONNECTION_INDICATOR_AUTO_HIDE_TIMEOUT: 5000,
    CONNECTION_INDICATOR_DISABLED: false,
    DEFAULT_BACKGROUND: '{{ jitsi_meet_default_background }}',
    DEFAULT_LOCAL_DISPLAY_NAME: '{{ jitsi_meet_default_local_display_name }}',
    DEFAULT_LOGO_URL: 'images/watermark.png',
    DEFAULT_REMOTE_DISPLAY_NAME: '{{ jitsi_meet_default_remote_display_name }}',
    DEFAULT_WELCOME_PAGE_LOGO_URL: 'images/watermark.png',
    DISABLE_DOMINANT_SPEAKER_INDICATOR: false,
    DISABLE_FOCUS_INDICATOR: false,
    DISABLE_JOIN_LEAVE_NOTIFICATIONS: false,
    DISABLE_PRESENCE_STATUS: false,
    DISABLE_RINGING: false,
    DISABLE_TRANSCRIPTION_SUBTITLES: false,
    DISABLE_VIDEO_BACKGROUND: {{ (not jitsi_meet_show_video_background) | bool | lower }},
    DISPLAY_WELCOME_FOOTER: true,
    DISPLAY_WELCOME_PAGE_ADDITIONAL_CARD: true,
    DISPLAY_WELCOME_PAGE_CONTENT:  false,
    DISPLAY_WELCOME_PAGE_TOOLBAR_ADDITIONAL_CONTENT: false,
    ENABLE_DIAL_OUT: true,
    ENABLE_FEEDBACK_ANIMATION: false,
    ENABLE_FEEDBACK_ANIMATION: false, // Enables feedback star animation.
    FILM_STRIP_MAX_HEIGHT: 120,
    FILM_STRIP_MAX_HEIGHT: 120,
    filmStripOnly: false,
    GENERATE_ROOMNAMES_ON_WELCOME_PAGE: {{ jitsi_meet_generate_roomnames_on_welcome_page | bool | lower }},
    HIDE_DEEP_LINKING_LOGO: false,
    HIDE_INVITE_MORE_HEADER: false,
    INITIAL_TOOLBAR_TIMEOUT: 20000,
    INVITATION_POWERED_BY: true,
    JITSI_WATERMARK_LINK: '{{ jitsi_meet_org_link }}',
    LANG_DETECTION: {{ jitsi_meet_lang_detection | bool | lower }}, // Allow i18n to detect the system language
    LIVE_STREAMING_HELP_LINK: 'https://jitsi.org/live',
    LOCAL_THUMBNAIL_RATIO: 16 / 9, // 16:9
    MAXIMUM_ZOOMING_COEFFICIENT: 1.3,
    MOBILE_APP_PROMO: true,
    MOBILE_DOWNLOAD_LINK_ANDROID: 'https://play.google.com/store/apps/details?id=de.hoppfoundation.klassenzimmer',
    MOBILE_DOWNLOAD_LINK_F_DROID: 'https://f-droid.org/en/packages/org.jitsi.meet/',
    MOBILE_DOWNLOAD_LINK_IOS: 'https://apps.apple.com/de/app/digitales-klassenzimmer/id1508736201',
    NATIVE_APP_NAME: '{{ jitsi_meet_appname }}',
    OPTIMAL_BROWSERS: [ 'chrome', 'chromium', 'nwjs', 'electron' ],
    POLICY_LOGO: null,
    PROVIDER_NAME: 'ADFC',
    RECENT_LIST_ENABLED: true,
    REMOTE_THUMBNAIL_RATIO: 1, // 1:1
    SETTINGS_SECTIONS: [ 'devices', 'language', 'moderator', 'profile', 'calendar' ],
    SHOW_BRAND_WATERMARK: false,
    SHOW_CHROME_EXTENSION_BANNER: false,
    SHOW_DEEP_LINKING_IMAGE: false,
    SHOW_JITSI_WATERMARK: true,
    SHOW_POWERED_BY: false,
    SHOW_PROMOTIONAL_CLOSE_PAGE: true,
    SHOW_WATERMARK_FOR_GUESTS: true,
    SUPPORT_URL: 'https://aktiv.adfc-nrw.de/jitsi/jitsi-feedback/',
    TOOLBAR_ALWAYS_VISIBLE: false,
    TOOLBAR_TIMEOUT: 4000,
    UNSUPPORTED_BROWSERS: [  ],
    VERTICAL_FILMSTRIP: true,
    VIDEO_LAYOUT_FIT: 'both',
    VIDEO_QUALITY_LABEL_DISABLED: false

};

/* eslint-enable no-unused-vars, no-var, max-len */
