<template id = "welcome-page-additional-content-template">
   <div id="footer">
      <center>Betrieben von ADFC-Hamburg | <a href="https://hamburg.adfc.de/impressum/">Impressum</a> | <a href="https://hamburg.adfc.de/datenschutzhinweise/">Datenschutzhinweis</a> | <a href="https://www.kuketz-blog.de/jitsi-meet-erste-hilfe-bei-problemen/">Erste Hilfe bei Problemen vom Kuketz Blog</a></center>
<!--      <center>Diese Jitsi-Instanz ist <a href="https://www.kuketz-blog.de/jitsi-meet-datenschutzfreundlich-ohne-google-stun-server/">datenschutzfreundlich</a> und nutzt <strong>nicht</strong> die Google STUN-Server.</center> -->
   </div>
</template>
