# Datei unter Ansible Kontrolle

allowed_hosts=192.168.123.32,127.0.0.1,::1

command[check_disk]=/usr/lib/nagios/plugins/check_disk -w '20%' -c '10%' -X tmpfs -X cgroup -X squashfs

command[check_apt]=/usr/lib/nagios/plugins/check_apt
command[check_load]=/usr/lib/nagios/plugins/check_load  -w 1,1,1 -c 2,2,2