# {{ ansible_managed }}

ldap_servers: ldap://{{ ucs_master }}:7389
ldap_search_base: {{ saslauthd_ldap_search_base }}
ldap_bind_dn: {{ saslauthd_bind_dn }}
ldap_bind_pw: {{ saslauthd_bind_pw }}
ldap_filter: {{ saslauthd_ldap_filter }}
ldap_version: 3
ldap_auth_method: bind
ldap_start_tls: yes

ldap_tls_key: /etc/ssl/saslauth-privkey.pem
ldap_tls_cert: /etc/ssl/saslauth-cert.pem
ldap_tls_check_peer: yes
ldap_tls_cacert_file: {{ saslauthd_tls_cacert_file }}
