Rechner {{ ansible_hostname }}

RAID Disk zu Seriennummer:

/opt/MegaRAID/MegaCli/MegaCli64  -Pdlist -a0 > drive-list.txt

DiskGroup0 = /dev/sda
DiskGroup1 = /dev/sdb
...
DiskGroup5 = /dev/sdf


Slot 0 blinken lassen:

/opt/MegaRAID/MegaCli/MegaCli64  -PdLocate -start --physdrv[252:0] -a0

(Slot2: --physdrv[252:2])

aufhoeren zu blinken:

/opt/MegaRAID/MegaCli/MegaCli64  -PdLocate -stop --physdrv[252:0] -a0

