#!/usr/bin/env bash
# {{ ansible_managed }}
set -e
set -u
set -o pipefail

deploy_cert() {
    local DOMAIN="${1}" KEYFILE="${2}" CERTFILE="${3}" FULLCHAINFILE="${4}" CHAINFILE="${5}" TIMESTAMP="${6}"
    {{ dehydrated_deploy_hook |default('') |indent(4) }}
}

HANDLER="$1"; shift
if [[ "${HANDLER}" =~ ^(deploy_cert)$ ]]; then
    "$HANDLER" "$@"
fi