# {{ ansible_managed }}
# use-auth-secret # Das ist im Moment noch nicht eingerichtet
no-auth
keep-address-family
# static-auth-secret={{ turn_secret }}
# realm={{ inventory_hostname }}
cert=/etc/coturn/cert.pem
pkey=/etc/coturn/privkey.pem
dh-file=/etc/coturn/dhparams.pem

no-tcp
listening-port=4446
tls-listening-port=4445

syslog
